<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><a href="{% url 'create' %}">Criar</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        {% for data in dataset %}
            {{data.title}} <br>
            {{data.description}} <br>
            <a href="{{data.id}}/update">Atualizar</a>
            <a href="{{data.id}}/delete">Deletar</a>
            <hr/>
        {% endfor %}
    </div>
</body>
</html>

